body {
	margin: 0;
	background-color: #000;
	color: #fff;
	font-family: Monospace;
	font-size: 13px;
	line-height: 24px;
	overscroll-behavior: none;
}

a {
	color: #ff0;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

button {
	cursor: pointer;
	text-transform: uppercase;
}

canvas {
	display: block;
}

#info {
	position: absolute;
	top: 0px;
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	text-align: center;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	pointer-events: none;
	z-index: 1; /* TODO Solve this in HTML */
}

a, button, input, select {
	pointer-events: auto;
}

.dg.ac {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	z-index: 2 !important; /* TODO Solve this in HTML */
}

#overlay {
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background: rgba(0,0,0,0.7);
}

	#overlay button {
		background: #ffffff;
		border: 0;
		color: #000000;
		padding: 16px 20px;
		text-transform: uppercase;
		cursor: pointer;
	}

#notSupported {
	width: 50%;
	margin: auto;
	background-color: #f00;
	margin-top: 20px;
	padding: 10px;
}
    
#info{
    display: grid;
    place-items: center;
    margin-top: 100px;
}

#info h1{
    font-size:  70px;
    line-height: 5rem;}
#info .p1{
    top:22vh;
}
#info .p2{
    top:25vh;
}
    #info p{
        display: grid;
        place-items: center;
        font-size:  20px;
}


@media screen and (min-width: 992px){
    
    #info{
        display: grid;
        place-items: center;
    }
    
    #info h1{
        font-size:  70px;
        line-height: 5rem;}
    #info .p1{
        top:22vh;
    }
    #info .p2{
        top:25vh;
    }
        #info p{
            display: grid;
            place-items: center;
            font-size:  20px;
    }
    
}

.changecolor { 
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:#313131;
    font-weight: bold;
    position: absolute;
    animation:colorchange 5s infinite alternate;
    -webkit-animation:colorchange 5s infinite alternate;
    
    
  }

  @keyframes colorchange {
    0% {
      
      color: black;
    }
    
    10% {
      
      color: grey;
    }
    
    20% {
      
      color: #313131;
    }
    
    30% {
      
      color: #363635;
    }
    
    40% {
      
      color: rgb(136, 136, 136);
    }
    
    50% {
      
      color: rgb(137, 137, 137);
    }
    
    60% {
      
      color: rgb(6, 6, 7);
    }
    
    70% {
      
      color: #646463;
    }
    80% {
   
      color: #505050;
    }
    
    90% {
   
      color: #181818;
    }
    
    100% {
      
      color: rgb(32, 32, 32);
    }
  }