* {
  margin: 0;
  padding: 0;
}
body,
html {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}
body {
  align-content: center;
  font-weight: 300;
  box-sizing: border-box;
  background-color: #fff;
}
footer {
  position: relative;
  border-top: 0.2px solid #dfdfdf;
  text-align: center;
  margin-top: 10vh;
  padding-bottom: 10px;
  background-color: #fff;
}

/* ======================media ======================== */

.container {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: #f5f5f5;
  margin: 0, 40px;
}
#navbar a {
  font-size: 18px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 450;
  float: left;
  padding: 0.5rem 1rem;

  background: 0 0 !important;
  position: relative;
  text-align: center;
  display: block;
  /*inline-flex;
      -ms-flex-direction: column;
      flex-direction: column;*/
}
#navbar a,
footer a,
#commits a,
a {
  text-decoration: none;
  color: #383838;
}
#navbar a:hover,
footer a:hover,
#commits a:hover,
a:hover {
  color: hsla(0, 0%, 52%, 1);
}

#navbar {
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25), 0 4px 10px rgba(0, 0, 0, 0.22);
  overflow: hidden;
  background-color: #fff !important;
  text-align: center;
  position: fixed;
  top: 0;
  border-bottom: 0.2px solid #dfdfdf;
  width: 100%;
  z-index: 99;
}

#hero h1 {
  display: block;
  line-height: 1em;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 700;
  font-size: 44px;

  text-shadow: grey;

  -webkit-margin-before: 0.67em;
  -webkit-margin-after: 0.67em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}
#hero h2 {
  -webkit-margin-before: 0.83em;
  -webkit-margin-after: 0.83em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  display: block;
  font-weight: 200;
}
#hero {
  color: #383838;
  background: linear-gradient(rgba(253, 253, 253, 0.78), rgba(255, 255, 255, 0)),
    url(./img/mourad-saadi-314319-unsplash.jpg) no-repeat;
  background-size: 480px 100vh;
  padding: 30px;
  margin-top: 35px;
  background-color: rgb(255, 255, 255);
}
.js {
  background-color: #ffeb3b;
}
#hero,
#about {
  min-height: 100vh;
}
#skills,
#commits {
  min-height: 40vh;
}
#about,
#skills,
#commits {
  background-color: #fff;
  margin-top: 20px;
}

h3 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 34px;
  background-color: #b3e5fc;
  color: #03a9f4;
}
#skills ul {
  font-size: 25px;
  line-height: 1.7;
  letter-spacing: 0.5px;
  padding: 30px 40px;
}
p {
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;

  font-size: 25px;
  margin-top: 10px;
  letter-spacing: 0.5px;
  line-height: 1.5em;
  padding: 30px 3vw;
  text-align: left;
}
/* gallery */
.responsive {
  background-color: #fff;
  min-width: 100vw;
}
div.gallery {
  border-radius: 4px;
  margin-top: 15px;
  border: 1px solid #9e9e9e;
}
div.gallery:hover {
  opacity: 0.9;
}

div.gallery img {
  padding-top: 2px;
  width: 100vw;
  height: 50%;
  text-align: center;
}
div.desc {
  padding: 15px;
  text-align: center;
  background-color: #d1d1d1;
}

/* ======================media ======================== */

/* ==== web ========================================================================== */
@media screen and (min-width: 480px) {
  * {
    margin: 0;
    padding: 0;
  }

  body,
  html {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
  }
  .container {
    margin: 0;
    padding: 0;
  }

  #hero h2 {
    line-height: 2.3em;
  }
  .js {
    color: #000;
  }
  #hero {
    min-width: 100vw;
    min-height: 100vh;
    background: linear-gradient(rgb(0, 0, 0), rgba(255, 255, 255, 0.22)),
      url(./img/octavian-rosca-388008-unsplash.jpg) center;
    color: #fff;
    /* image by : Photo by Octavian Rosca on Unsplash */
  }
  .h_wrap {
    padding: 0px 40px;
  }
  #about,
  #skills,
  #commits {
    min-height: 50vh;
    margin: auto;
  }

  /* griding about */
  #about {
    margin-top: 20px;
  }
  h3 {
    padding-top: 100px;
    font-size: 2vw;
  }
  #about,
  #skills,
  #commits {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-auto-flow: row;
    border-bottom: 1px solid #b3e5fc;
    border-top: 1px solid #b3e5fc;
  }

  #id-certificates {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    grid-auto-flow: row;
  }

  /* griding about */
}
/*================ web =========================*/

/* only dp */
@media screen and (max-width: 900px) and (min-width: 480px) {
  #hero {
    background: linear-gradient(
        rgba(125, 62, 236, 0.43),
        rgba(48, 27, 255, 0.48)
      ),
      url(./img/DPpro.jpg) no-repeat;
  }
}
/* only dp */
