.has-bg-img {
  background: url("./img/bg2.jpg") center center;
  background-size: cover;
}

.is-infome {
  font-weight: 100;
  font-family: "Poppins", sans-serif;
  /* background: linear-gradient(-421deg, #2366e4, #5000ec); */
}

/* section > .container {
  padding-top: 30px;
} */

.tile p,
.tile li {
  font-size: 18px;
  line-height: 2.12rem;
  word-spacing: 0.15rem;
  font-family: "Nanum Myeongjo", serif;
}

.tile h3 {
  color: #23d160;
  font-size: 32px;
  font-weight: 100;
  word-spacing: 0.15rem;
  font-family: "Merienda", cursive;
}

.ox {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 0.5px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.ox:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
